.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas';
}

.App-header {
  align-items: center;
  justify-content: center;
}

h1 {
  text-shadow: 5px 4px 2px #474747;
}

.App-main {
  display: flex;
  justify-content: center;
  height: 700px;
}

.Side-panel {
  padding: 2rem 2rem;
  background: linear-gradient(#9381aa, #5d8b9a);
  width: 25%;
  min-width: 275px;
  max-width: 350px;
}

.Main-panel {
  padding: 3rem;
  background: linear-gradient(#756886, #385768);
  width: 45%;
  min-width: 500px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Event-window {
  background-color: black;
  min-height: 12rem;
  width: 90%;
}

.Event-window p {
  margin: 1rem;
  text-align: left;
  font-family: 'Consolas';
}

.Event-window span {
  text-transform: uppercase;
}

.Button-cont {
  width: 90%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.Stat-bar {
  text-align: left;
  margin: 1rem 0;
}

h2 {
  font-size: 1.25rem;
}

.Side-panel p {
  padding-top: 1rem;
  line-height: 0;
}

button {
  padding: 1rem;
  width: 7.25rem;
  font-family: 'Consolas';
  font-size: 1.25rem;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  background-color: white;
  border-radius: 0;
  height: 8px;
}

.progress-bar {
  background-color: grey;
}

.bg-health {
  background-color: #4C8C47;
}

.bg-hunger {
  background-color: #BB6F16;
}

.bg-happiness {
  background-color: #2C76BB;
}

.settings {
  margin: 0.5rem 0;
  background-color: #474747;
}

.settings-menu {
  padding: 0.75em;
  text-align: left;
}

.settings-menu input {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 0.75rem;
}

.speed-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.speed-button {
  color: #474747;
  padding: 0.2rem;
  width: 2.5rem;
}

.reset-button {
  margin-top: 1rem;
  background-color: #7C0000;
  width: 100%;
}

.App-footer {
  margin: 0.75rem;
}

.App-footer a {
  color: cornflowerblue;
  text-decoration: none;
}